<p id="notice"><%= notice %></p>

<p>
  <strong>Nick name:</strong>
  <%= @employee.nick_name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @employee.department %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @employee.deleted_at %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
